/* General styles - start*/

* {
    transition: all 1s;
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
      
}

span {
    color: green;
}

/* General styles - stop */

/* Menu - start */

nav#main-menu {
    width: 100%;
    background-color: #fff;
    position: fixed;
}

nav#main-menu ul.menu-items {
    float: right;
}

nav#main-menu ul.menu-items li {
    display: inline-block;
    padding: 15px 20px;
}

nav#main-menu ul.menu-items li a {
    text-decoration: none;
    color: forestgreen;
    font-size: 1em;
}

/* Menu - stop */

/* Header - start */

header#main-header {
    background-image: url(../img/header-background.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
}

header#main-header div.header-caption {
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    line-height: 100px;    
}

header#main-header div.header-caption h1 {
    font-size: 4em;
    font-weight: 300;
}

header#main-header div.header-caption p {
    font-size: 2em;
    font-weight: 200;
    
}

/* Header - stop */

