/* General styles - start*/

* {
    transition: all 1s;
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
      
}

span {
    color: green;
}

/* General styles - stop */

/* Menu - start */

nav#main-menu {
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 1;
}

nav#main-menu ul.menu-items {
    float: right;
}

nav#main-menu ul.menu-items li {
    display: inline-block;
    padding: 15px 20px;
}

nav#main-menu ul.menu-items li a {
    text-decoration: none;
    color: forestgreen;
    font-size: 1em;
}

/* Menu - stop */

/* Header - start */

header#main-header {
    background-image: url(../img/header-background.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
}

header#main-header div.header-caption {
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    line-height: 100px;    
}

header#main-header div.header-caption h1 {
    font-size: 4em;
    font-weight: 300;
}

header#main-header div.header-caption p {
    font-size: 2em;
    font-weight: 200;
    
}

/* Header - stop */

/* Section about - start */

section#about {
    margin: 100px 0;
    overflow: hidden;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
}

section#about .header-caption {
    text-align: center;
    font-size: 2em;
}

section#about .header-caption h3 {
    font-weight: 300;
}

section#about figure {
    text-align: center;
}

section#about figure .col-1-2 {
    width: 50%;
    float: left;
    margin-top: 50px;
}

section#about figure .col-1-2 img {
    height: 400px;
    text-align: center;
    border: 10px solid #eee;
    border-radius: 10px;
}

section#about figure .col-1-2 p.about-description {
    font-weight: 100;
    font-size: 1em;
    padding: 5px 2px;
    line-height: 25px;
    padding-right: 40px;
    text-align: left;
}

/* Section about - stop */

